<!doctype html>
<title>{% block title %}{% endblock %}Hệ Thống Điểm Danh DHBK-DHDN</title>
<link rel="stylesheet" href="{{ url_for('static', filename='restyle.css') }}">

{% block header %}{% endblock %}
{% block content %}
<div id="facebook-Bar">
  <div id="facebook-Frame">
  </div>
</div>

<div class="loginbox radius">
  <h2 style="color:#141823; text-align:center;">Thực Hiện Đăng Ký</h2>
  <div class="loginboxinner radius">
    <div class="loginheader">
      <h4 class="title">Hệ Thống Lấy Dữ Liệu Sinh Viên.</h4>
    </div>

    <div class="loginform">
      <form id="login"  method="post">
        <p>
          <input type="text" id="email" name="MSSV" placeholder="Mã Số Sinh Viên" value="" class="radius" />
        </p>
         <button class="radius title" name="signup">Đăng Ký</button>
      
      </form>
    </div>
  </div>
</div>

{% endblock %}